/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
}

#navbar {
    margin-bottom: 20px;
}

/* Styles for search and sync containers */
.search-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-sync-container {
    display: flex;
    gap: 10px;
}

.add-sync-container {
    display: flex;
    gap: 10px;
}

/* Basic form and button styles */
select, input[type="text"], button {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input[type="text"] {
    flex: 1;
    width: 200px;
}

button {
    background-color: #6c757d;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6c757d;
}

table {
    width: 90%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis;
    cursor: pointer;
}

td {
    position: relative;
}

/* Tooltip for showing full data */
td::after {
    content: attr(data-full); 
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    white-space: normal; 
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 300px; 
    display: none; 
    pointer-events: none; 
}

td:hover::after {
    display: block; 
}


td.clicked {
    background-color: #fff; 
}

td.clicked::after {
    display: block; 
}

td.clicked {
    position: static; 
    max-width: none; 
}

/* Action column specific styles */
#customer-table th:last-child,
#customer-table td:last-child {
    width: 140px; 
    white-space: nowrap; 
}

.actions-cell {
    display: flex;
    gap: 5px;
    align-items: center;
}

.edit-btn, .delete-btn {
    font-size: 1em; 
    padding: 5px 10px; 
    margin-right: 5px; 
    border: none;
    background-color: transparent; 
    color: #6c757d; 
    cursor: pointer;
}

.edit-btn:hover, .delete-btn:hover {
    color: #fcfbfd; 
}

.edit-btn i, .delete-btn {
    font-size: 1.2em;
}


button {
    white-space: nowrap;
}

#pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pagination button {
    background-color: #6c757d;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

#pagination button:hover {
    background-color: #5a6268;
}

#page-info {
    font-size: 1em;
}

#page-info span {
    font-weight: bold;
}
